In [30]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in d:\xpe-post_grad\b-desm2\env1\dbmysql\lib\site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in d:\xpe-post_grad\b-desm2\env1\dbmysql\lib\site-packages (from beautifulsoup4) (2.5)

In [1]:
import requests
from bs4 import BeautifulSoup as beauty
import re

In [6]:
# rt = requests.get("https://leandrolessa.com.br/coleta-de-dados-na-web")
# rt.text()

In [2]:
rt = """<tr class="row-2 even">
	<td class="column-1"><span style="color:#303030;">1000</span></td><td class="column-2"><span style="color:#303030;">Sabão em pó</span></td><td class="column-3"><span style="color:#303030;">1</span></td><td class="column-4"><span style="color:#303030;">Produtos de Limpeza</span></td><td class="column-5"><span style="color:#303030;">9.9</span></td>
</tr><tr class="row-3 odd">
	<td class="column-1"><span style="color:#303030;">1001</span></td><td class="column-2"><span style="color:#303030;">Amaciante</span></td><td class="column-3"><span style="color:#303030;">1</span></td><td class="column-4"><span style="color:#303030;">Produtos de Limpeza</span></td><td class="column-5"><span style="color:#303030;">22</span></td>
</tr><tr class="row-4 even">
	<td class="column-1"><span style="color:#303030;">1002</span></td><td class="column-2"><span style="color:#303030;">Detergente</span></td><td class="column-3"><span style="color:#303030;">1</span></td><td class="column-4"><span style="color:#303030;">Produtos de Limpeza</span></td><td class="column-5"><span style="color:#303030;">1.99</span></td>
</tr><tr class="row-5 odd">
	<td class="column-1"><span style="color:#303030;">1003</span></td><td class="column-2"><span style="color:#303030;">Água sanitária</span></td><td class="column-3"><span style="color:#303030;">1</span></td><td class="column-4"><span style="color:#303030;">Produtos de Limpeza</span></td><td class="column-5"><span style="color:#303030;">12</span></td>
</tr><tr class="row-6 even">
	<td class="column-1"><span style="color:#303030;">1004</span></td><td class="column-2"><span style="color:#303030;">Esponja de aço</span></td><td class="column-3"><span style="color:#303030;">1</span></td><td class="column-4"><span style="color:#303030;">Produtos de Limpeza</span></td><td class="column-5"><span style="color:#303030;">4</span></td>
</tr><tr class="row-7 odd">
	<td class="column-1"><span style="color:#303030;">1005</span></td><td class="column-2"><span style="color:#303030;">Buchinha de pia</span></td><td class="column-3"><span style="color:#303030;">1</span></td><td class="column-4"><span style="color:#303030;">Produtos de Limpeza</span></td><td class="column-5"><span style="color:#303030;">2.5</span></td>
</tr><tr class="row-8 even">
	<td class="column-1"><span style="color:#303030;">1006</span></td><td class="column-2"><span style="color:#303030;">Sabão em pedra</span></td><td class="column-3"><span style="color:#303030;">1</span></td><td class="column-4"><span style="color:#303030;">Produtos de Limpeza</span></td><td class="column-5"><span style="color:#303030;">6</span></td>
</tr><tr class="row-9 odd">
	<td class="column-1"><span style="color:#303030;">1007</span></td><td class="column-2"><span style="color:#303030;">Sabonete</span></td><td class="column-3"><span style="color:#303030;">1</span></td><td class="column-4"><span style="color:#303030;">Produtos de Limpeza</span></td><td class="column-5"><span style="color:#303030;">1.25</span></td>
</tr><tr class="row-10 even">
	<td class="column-1"><span style="color:#303030;">1008</span></td><td class="column-2"><span style="color:#303030;">Shampo</span></td><td class="column-3"><span style="color:#303030;">1</span></td><td class="column-4"><span style="color:#303030;">Produtos de Limpeza</span></td><td class="column-5"><span style="color:#303030;">8.5</span></td>
</tr><tr class="row-11 odd">
	<td class="column-1"><span style="color:#303030;">1009</span></td><td class="column-2"><span style="color:#303030;">Condicionador</span></td><td class="column-3"><span style="color:#303030;">1</span></td><td class="column-4"><span style="color:#303030;">Produtos de Limpeza</span></td><td class="column-5"><span style="color:#303030;">12.5</span></td>
</tr><tr class="row-12 even">
	<td class="column-1"><span style="color:#303030;">1010</span></td><td class="column-2"><span style="color:#303030;">Desinfetante</span></td><td class="column-3"><span style="color:#303030;">1</span></td><td class="column-4"><span style="color:#303030;">Produtos de Limpeza</span></td><td class="column-5"><span style="color:#303030;">11</span></td>
</tr><tr class="row-13 odd">
	<td class="column-1"><span style="color:#303030;">1011</span></td><td class="column-2"><span style="color:#303030;">Lustra móveis</span></td><td class="column-3"><span style="color:#303030;">1</span></td><td class="column-4"><span style="color:#303030;">Produtos de Limpeza</span></td><td class="column-5"><span style="color:#303030;">5.99</span></td>
</tr><tr class="row-14 even">
	<td class="column-1"><span style="color:#303030;">1012</span></td><td class="column-2"><span style="color:#303030;">Tira manchas</span></td><td class="column-3"><span style="color:#303030;">1</span></td><td class="column-4"><span style="color:#303030;">Produtos de Limpeza</span></td><td class="column-5"><span style="color:#303030;">7.95</span></td>
</tr><tr class="row-15 odd">
	<td class="column-1"><span style="color:#303030;">1013</span></td><td class="column-2"><span style="color:#303030;">Limpa vidros</span></td><td class="column-3"><span style="color:#303030;">1</span></td><td class="column-4"><span style="color:#303030;">Produtos de Limpeza</span></td><td class="column-5"><span style="color:#303030;">13.5</span></td>
</tr><tr class="row-16 even">
	<td class="column-1"><span style="color:#303030;">1014</span></td><td class="column-2"><span style="color:#303030;">Alcool</span></td><td class="column-3"><span style="color:#303030;">1</span></td><td class="column-4"><span style="color:#303030;">Produtos de Limpeza</span></td><td class="column-5"><span style="color:#303030;">8.99</span></td>
</tr><tr class="row-17 odd">
	<td class="column-1"><span style="color:#303030;">1015</span></td><td class="column-2"><span style="color:#303030;">Saco de lixo 30l</span></td><td class="column-3"><span style="color:#303030;">1</span></td><td class="column-4"><span style="color:#303030;">Produtos de Limpeza</span></td><td class="column-5"><span style="color:#303030;">12</span></td>
</tr><tr class="row-18 even">
	<td class="column-1"><span style="color:#303030;">1016</span></td><td class="column-2"><span style="color:#303030;">Saco de lixo 50l</span></td><td class="column-3"><span style="color:#303030;">1</span></td><td class="column-4"><span style="color:#303030;">Produtos de Limpeza</span></td><td class="column-5"><span style="color:#303030;">15</span></td>
</tr><tr class="row-19 odd">
	<td class="column-1"><span style="color:#303030;">1017</span></td><td class="column-2"><span style="color:#303030;">Refrigerante 2l</span></td><td class="column-3"><span style="color:#303030;">2</span></td><td class="column-4"><span style="color:#303030;">Bebidas</span></td><td class="column-5"><span style="color:#303030;">7.5</span></td>
</tr><tr class="row-20 even">
	<td class="column-1"><span style="color:#303030;">1018</span></td><td class="column-2"><span style="color:#303030;">Suco garrafa 1l</span></td><td class="column-3"><span style="color:#303030;">2</span></td><td class="column-4"><span style="color:#303030;">Bebidas</span></td><td class="column-5"><span style="color:#303030;">4.99</span></td>
</tr><tr class="row-21 odd">
	<td class="column-1"><span style="color:#303030;">1019</span></td><td class="column-2"><span style="color:#303030;">Suco caixinha 500ml</span></td><td class="column-3"><span style="color:#303030;">2</span></td><td class="column-4"><span style="color:#303030;">Bebidas</span></td><td class="column-5"><span style="color:#303030;">4.5</span></td>
</tr><tr class="row-22 even">
	<td class="column-1"><span style="color:#303030;">1020</span></td><td class="column-2"><span style="color:#303030;">Suco sachê</span></td><td class="column-3"><span style="color:#303030;">2</span></td><td class="column-4"><span style="color:#303030;">Bebidas</span></td><td class="column-5"><span style="color:#303030;">2.5</span></td>
</tr><tr class="row-23 odd">
	<td class="column-1"><span style="color:#303030;">1021</span></td><td class="column-2"><span style="color:#303030;">Leite integral litro</span></td><td class="column-3"><span style="color:#303030;">2</span></td><td class="column-4"><span style="color:#303030;">Bebidas</span></td><td class="column-5"><span style="color:#303030;">3.99</span></td>
</tr><tr class="row-24 even">
	<td class="column-1"><span style="color:#303030;">1022</span></td><td class="column-2"><span style="color:#303030;">Leite desnatado litro</span></td><td class="column-3"><span style="color:#303030;">2</span></td><td class="column-4"><span style="color:#303030;">Bebidas</span></td><td class="column-5"><span style="color:#303030;">4.3</span></td>
</tr><tr class="row-25 odd">
	<td class="column-1"><span style="color:#303030;">1023</span></td><td class="column-2"><span style="color:#303030;">Arroz 5kg</span></td><td class="column-3"><span style="color:#303030;">3</span></td><td class="column-4"><span style="color:#303030;">Alimentação</span></td><td class="column-5"><span style="color:#303030;">22.5</span></td>
</tr><tr class="row-26 even">
	<td class="column-1"><span style="color:#303030;">1024</span></td><td class="column-2"><span style="color:#303030;">Feijão 2kg</span></td><td class="column-3"><span style="color:#303030;">3</span></td><td class="column-4"><span style="color:#303030;">Alimentação</span></td><td class="column-5"><span style="color:#303030;">5.99</span></td>
</tr><tr class="row-27 odd">
	<td class="column-1"><span style="color:#303030;">1025</span></td><td class="column-2"><span style="color:#303030;">Macarrão</span></td><td class="column-3"><span style="color:#303030;">3</span></td><td class="column-4"><span style="color:#303030;">Alimentação</span></td><td class="column-5"><span style="color:#303030;">4.99</span></td>
</tr><tr class="row-28 even">
	<td class="column-1"><span style="color:#303030;">1026</span></td><td class="column-2"><span style="color:#303030;">Extrato de tomate</span></td><td class="column-3"><span style="color:#303030;">3</span></td><td class="column-4"><span style="color:#303030;">Alimentação</span></td><td class="column-5"><span style="color:#303030;">2</span></td>
</tr><tr class="row-29 odd">
	<td class="column-1"><span style="color:#303030;">1027</span></td><td class="column-2"><span style="color:#303030;">Molho de tomate</span></td><td class="column-3"><span style="color:#303030;">3</span></td><td class="column-4"><span style="color:#303030;">Alimentação</span></td><td class="column-5"><span style="color:#303030;">3.99</span></td>
</tr><tr class="row-30 even">
	<td class="column-1"><span style="color:#303030;">1028</span></td><td class="column-2"><span style="color:#303030;">Sal</span></td><td class="column-3"><span style="color:#303030;">3</span></td><td class="column-4"><span style="color:#303030;">Alimentação</span></td><td class="column-5"><span style="color:#303030;">3.2</span></td>
</tr><tr class="row-31 odd">
	<td class="column-1"><span style="color:#303030;">1029</span></td><td class="column-2"><span style="color:#303030;">Açucar</span></td><td class="column-3"><span style="color:#303030;">3</span></td><td class="column-4"><span style="color:#303030;">Alimentação</span></td><td class="column-5"><span style="color:#303030;">10</span></td>
</tr><tr class="row-32 even">
	<td class="column-1"><span style="color:#303030;">1030</span></td><td class="column-2"><span style="color:#303030;">Achocolatado</span></td><td class="column-3"><span style="color:#303030;">3</span></td><td class="column-4"><span style="color:#303030;">Alimentação</span></td><td class="column-5"><span style="color:#303030;">8</span></td>
</tr><tr class="row-33 odd">
	<td class="column-1"><span style="color:#303030;">1031</span></td><td class="column-2"><span style="color:#303030;">Bolacha</span></td><td class="column-3"><span style="color:#303030;">3</span></td><td class="column-4"><span style="color:#303030;">Alimentação</span></td><td class="column-5"><span style="color:#303030;">1.99</span></td>
</tr><tr class="row-34 even">
	<td class="column-1"><span style="color:#303030;">1032</span></td><td class="column-2"><span style="color:#303030;">Café</span></td><td class="column-3"><span style="color:#303030;">3</span></td><td class="column-4"><span style="color:#303030;">Alimentação</span></td><td class="column-5"><span style="color:#303030;">9.99</span></td>
</tr><tr class="row-35 odd">
	<td class="column-1"><span style="color:#303030;">1033</span></td><td class="column-2"><span style="color:#303030;">Farofa pronta</span></td><td class="column-3"><span style="color:#303030;">3</span></td><td class="column-4"><span style="color:#303030;">Alimentação</span></td><td class="column-5"><span style="color:#303030;">2.32</span></td>
</tr><tr class="row-36 even">
	<td class="column-1"><span style="color:#303030;">1034</span></td><td class="column-2"><span style="color:#303030;">Fubá</span></td><td class="column-3"><span style="color:#303030;">3</span></td><td class="column-4"><span style="color:#303030;">Alimentação</span></td><td class="column-5"><span style="color:#303030;">3.75</span></td>
</tr><tr class="row-37 odd">
	<td class="column-1"><span style="color:#303030;">1035</span></td><td class="column-2"><span style="color:#303030;">Farinha de trigo</span></td><td class="column-3"><span style="color:#303030;">3</span></td><td class="column-4"><span style="color:#303030;">Alimentação</span></td><td class="column-5"><span style="color:#303030;">3.99</span></td>
</tr><tr class="row-38 even">
	<td class="column-1"><span style="color:#303030;">1036</span></td><td class="column-2"><span style="color:#303030;">Farinha de milho</span></td><td class="column-3"><span style="color:#303030;">3</span></td><td class="column-4"><span style="color:#303030;">Alimentação</span></td><td class="column-5"><span style="color:#303030;">3.5</span></td>
</tr><tr class="row-39 odd">
	<td class="column-1"><span style="color:#303030;">1037</span></td><td class="column-2"><span style="color:#303030;">Farinha de mandioca</span></td><td class="column-3"><span style="color:#303030;">3</span></td><td class="column-4"><span style="color:#303030;">Alimentação</span></td><td class="column-5"><span style="color:#303030;">3.45</span></td>
</tr><tr class="row-40 even">
	<td class="column-1"><span style="color:#303030;">1038</span></td><td class="column-2"><span style="color:#303030;">Sardinha</span></td><td class="column-3"><span style="color:#303030;">3</span></td><td class="column-4"><span style="color:#303030;">Alimentação</span></td><td class="column-5"><span style="color:#303030;">4</span></td>
</tr><tr class="row-41 odd">
	<td class="column-1"><span style="color:#303030;">1039</span></td><td class="column-2"><span style="color:#303030;">Atum</span></td><td class="column-3"><span style="color:#303030;">3</span></td><td class="column-4"><span style="color:#303030;">Alimentação</span></td><td class="column-5"><span style="color:#303030;">4.99</span></td>
</tr><tr class="row-42 even">
	<td class="column-1"><span style="color:#303030;">1040</span></td><td class="column-2"><span style="color:#303030;">Maionese</span></td><td class="column-3"><span style="color:#303030;">3</span></td><td class="column-4"><span style="color:#303030;">Alimentação</span></td><td class="column-5"><span style="color:#303030;">5</span></td>
</tr><tr class="row-43 odd">
	<td class="column-1"><span style="color:#303030;">1041</span></td><td class="column-2"><span style="color:#303030;">Molho de pimenta</span></td><td class="column-3"><span style="color:#303030;">3</span></td><td class="column-4"><span style="color:#303030;">Alimentação</span></td><td class="column-5"><span style="color:#303030;">4.95</span></td>
</tr><tr class="row-44 even">
	<td class="column-1"><span style="color:#303030;">1042</span></td><td class="column-2"><span style="color:#303030;">Ervilha</span></td><td class="column-3"><span style="color:#303030;">3</span></td><td class="column-4"><span style="color:#303030;">Alimentação</span></td><td class="column-5"><span style="color:#303030;">4.45</span></td>
</tr><tr class="row-45 odd">
	<td class="column-1"><span style="color:#303030;">1043</span></td><td class="column-2"><span style="color:#303030;">Milho verde</span></td><td class="column-3"><span style="color:#303030;">3</span></td><td class="column-4"><span style="color:#303030;">Alimentação</span></td><td class="column-5"><span style="color:#303030;">3.25</span></td>
</tr><tr class="row-46 even">
	<td class="column-1"><span style="color:#303030;">1044</span></td><td class="column-2"><span style="color:#303030;">Seleta</span></td><td class="column-3"><span style="color:#303030;">3</span></td><td class="column-4"><span style="color:#303030;">Alimentação</span></td><td class="column-5"><span style="color:#303030;">3.99</span></td>
</tr><tr class="row-47 odd">
	<td class="column-1"><span style="color:#303030;">1045</span></td><td class="column-2"><span style="color:#303030;">Doce de leite</span></td><td class="column-3"><span style="color:#303030;">3</span></td><td class="column-4"><span style="color:#303030;">Alimentação</span></td><td class="column-5"><span style="color:#303030;">5.99</span></td>
</tr><tr class="row-48 even">
	<td class="column-1"><span style="color:#303030;">1046</span></td><td class="column-2"><span style="color:#303030;">Goiabada</span></td><td class="column-3"><span style="color:#303030;">3</span></td><td class="column-4"><span style="color:#303030;">Alimentação</span></td><td class="column-5"><span style="color:#303030;">4.99</span></td>
</tr><tr class="row-49 odd">
	<td class="column-1"><span style="color:#303030;">1047</span></td><td class="column-2"><span style="color:#303030;">Milho de pipoca</span></td><td class="column-3"><span style="color:#303030;">3</span></td><td class="column-4"><span style="color:#303030;">Alimentação</span></td><td class="column-5"><span style="color:#303030;">3.89</span></td>
</tr><tr class="row-50 even">
	<td class="column-1"><span style="color:#303030;">1048</span></td><td class="column-2"><span style="color:#303030;">Óleo de cozinha</span></td><td class="column-3"><span style="color:#303030;">3</span></td><td class="column-4"><span style="color:#303030;">Alimentação</span></td><td class="column-5"><span style="color:#303030;">8.99</span></td>
</tr><tr class="row-51 odd">
	<td class="column-1"><span style="color:#303030;">1049</span></td><td class="column-2"><span style="color:#303030;">Leite em pó</span></td><td class="column-3"><span style="color:#303030;">3</span></td><td class="column-4"><span style="color:#303030;">Alimentação</span></td><td class="column-5"><span style="color:#303030;">5.99</span></td>
</tr></tbody>"""

In [3]:
sopa = beauty(rt, 'html.parser')

In [4]:
def atrcol(nbr):
    return sopa.find_all('td', attrs={'class' : f'column-{nbr}'})

In [5]:
cod_prod = atrcol('1')

In [6]:
nm_prod = atrcol('2')

In [7]:
cod_cl_prod = atrcol('3')

In [8]:
cl_prod = atrcol('4')

In [9]:
vlr = atrcol('5')

In [10]:
def extrai(cjto):
    trato1 = re.split(';\">', str(cjto))
    trato2 = re.split('<', trato1[1])
    return trato2[0]

In [11]:
codprod = list()
for item in cod_prod:
    codprod.append(int(extrai(item)))

In [12]:
nmprod = list()
for item in nm_prod:
    nmprod.append(extrai(item))

In [13]:
codclprod = list()
for item in cod_cl_prod:
    codclprod.append(int(extrai(item)))

In [14]:
clprod = list()
for item in cl_prod:
    clprod.append(extrai(item))

In [15]:
valor = list()
for item in vlr:
    valor.append("%.2f" % float(extrai(item)))

In [2]:
import pandas as pd

In [17]:
produtos = pd.DataFrame()

In [18]:
produtos['cod_produto'] = codprod

In [19]:
produtos['nome_produto'] = nmprod

In [20]:
produtos['cod_classe_produto'] = codclprod

In [21]:
produtos['classe_produto'] = clprod

In [22]:
produtos['valor'] = valor

In [103]:
produtos.isna().sum()

cod_produto           0
nome_produto          0
cod_classe_produto    0
classe_produto        0
valor                 0
dtype: int64

In [104]:
produtos.duplicated().sum()

0

In [23]:
clientes = pd.read_json('dados_clientes.json')

In [24]:
estados = pd.read_csv('estado_regiao.csv', sep=';', encoding='latin-1')

In [124]:
!pip install xlrd

Requirement already satisfied: xlrd in d:\xpe-post_grad\b-desm2\env1\dbmysql\lib\site-packages (2.0.1)

In [3]:
compras = pd.read_excel('compras.xls')

In [130]:
clientes.isna().sum()

cliente    0
dtype: int64

In [131]:
clientes.duplicated().sum()

0

In [132]:
estados.isna().sum()

id_estado    0
sigla        0
estado       0
regiao       0
pais         0
dtype: int64

In [133]:
estados.duplicated().sum()

0

In [155]:
compras.isna().sum()

cod_cliente            0
cod_produto           10
qtd_produto            0
valor_unitario         5
valor_total_compra    21
dtype: int64

In [156]:
compras.duplicated().sum()

0

In [10]:
compras = compras[compras['cod_produto'].notna()]

In [11]:
compras.isna().sum()

cod_cliente            0
cod_produto            0
qtd_produto            0
valor_unitario         5
valor_total_compra    21
dtype: int64

In [164]:
compras[compras['valor_unitario'].isna()]

     cod_cliente  cod_produto  qtd_produto  valor_unitario  valor_total_compra
388          389       1079.0            4             NaN               23.96
448          449       1033.0            2             NaN                4.64
492          493       1031.0            4             NaN                7.96
573          574       1077.0            1             NaN               34.50
691          692       1040.0            2             NaN               10.00

In [12]:
compras.valor_unitario[compras['valor_unitario'].isna()] = compras.valor_total_compra[compras['valor_unitario'].isna()] / compras.qtd_produto[compras['valor_unitario'].isna()]

In [13]:
compras.isna().sum()

cod_cliente            0
cod_produto            0
qtd_produto            0
valor_unitario         0
valor_total_compra    21
dtype: int64

In [14]:
compras.valor_total_compra[compras['valor_total_compra'].isna()] = compras.qtd_produto[compras['valor_total_compra'].isna()] * compras.valor_unitario[compras['valor_total_compra'].isna()]

In [15]:
compras.isna().sum()

cod_cliente           0
cod_produto           0
qtd_produto           0
valor_unitario        0
valor_total_compra    0
dtype: int64

In [169]:
compras.duplicated().sum()

0

In [29]:
customers = []
for cliente in clientes['cliente']:
    customers.append(cliente)
consumers = pd.DataFrame.from_dict(customers)

In [171]:
!pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.2.4-cp312-cp312-win_amd64.whl.metadata (4.6 kB)
Downloading mysqlclient-2.2.4-cp312-cp312-win_amd64.whl (203 kB)
   ---------------------------------------- 0.0/203.3 kB ? eta -:--:--
   ---------------------------------------- 0.0/203.3 kB ? eta -:--:--
   -- ------------------------------------- 10.2/203.3 kB ? eta -:--:--
   ----- --------------------------------- 30.7/203.3 kB 262.6 kB/s eta 0:00:01
   ------- ------------------------------- 41.0/203.3 kB 245.8 kB/s eta 0:00:01
   --------------- ----------------------- 81.9/203.3 kB 419.2 kB/s eta 0:00:01
   ----------------- --------------------- 92.2/203.3 kB 438.1 kB/s eta 0:00:01
   ---------------------- --------------- 122.9/203.3 kB 425.1 kB/s eta 0:00:01
   ------------------------------ ------- 163.8/203.3 kB 518.9 kB/s eta 0:00:01
   -------------------------------- ----- 174.1/203.3 kB 477.7 kB/s eta 0:00:01
   ------------------------------------ - 194.6/203.3 kB 491.5 kB/s eta 0:00:01
   ------------------------------------ - 194.6/203.3 kB 491.5 kB/s eta 0:00:01
   ------------------------------------ - 194.6/203.3 kB 491.5 kB/s eta 0:00:01
   ------------------------------------ - 194.6/203.3 kB 491.5 kB/s eta 0:00:01
   ------------------------------------ - 194.6/203.3 kB 491.5 kB/s eta 0:00:01
   ------------------------------------ - 194.6/203.3 kB 491.5 kB/s eta 0:00:01
   ------------------------------------ - 194.6/203.3 kB 491.5 kB/s eta 0:00:01
   -------------------------------------- 203.3/203.3 kB 281.0 kB/s eta 0:00:00
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.4

In [5]:
import MySQLdb as msql
import sqlalchemy as salc

In [6]:
usuario = 'pericles@localhost'
senha = 'Access2Da1aBas3'
servidor = 'localhost'
base_de_dados = 'dbmysql'

conexao = f'mysql://{usuario}:{senha}@{servidor}/{base_de_dados}'

In [7]:
engine = salc.create_engine(conexao)
conn = engine.connect()

In [61]:
for cls in produtos.classe_produto.unique():
    classe = cls
    try:
        query = f"""INSERT INTO tb_classe_produto (classe) VALUES ('{classe}')"""
        conn.execute(query)
    except Exception as e:
        print(f'Erro {e}')

In [64]:
for prod in produtos.itertuples():
    cod_classe = prod.cod_classe_produto
    cod_produto = prod.cod_produto
    produto = prod.nome_produto
    try:
        query = f"""INSERT INTO tb_produto (cod_produto, produto, cod_classe) VALUES ('{cod_produto}', '{produto}', '{cod_classe}')"""
        conn.execute(query)
    except Exception as e:
        print(f'Erro {e}')

In [65]:
for est in estados.itertuples():
    cod_estado = est.id_estado
    estado = est.estado
    sigla = est.sigla
    regiao = est.regiao
    pais = est.pais
    try:
        query = f"""INSERT INTO tb_estado (cod_estado, estado, sigla, regiao, pais) VALUES ('{cod_estado}', '{estado}', '{sigla}', '{regiao}', '{pais}')"""
        conn.execute(query)
    except Exception as e:
        print(f'Erro {e}')

In [ ]:
for cli in consumers.itertuples():
    cod_cliente = cli.cod_cliente
    sexo = cli.sexo
    idade = cli.idade
    qtd_filhos = cli.qtd_filhos
    hipertenso = cli.hipertenso
    diabetico = cli.diabetes
    cod_estado = cli.cod_estado
    estado_civil = cli.estado_civil
    try:
        query = f"""INSERT INTO tb_cliente (cod_cliente, sexo, idade, qtd_filhos, hipertenso, diabetico, cod_estado, estado_civil) 
        VALUES ('{cod_cliente}', '{sexo}', '{idade}', '{qtd_filhos}', '{hipertenso}', '{diabetico}', '{cod_estado}', '{estado_civil}')"""
        conn.execute(query)
    except Exception as e:
        print(f'Erro {e}')

In [4]:
compras.head()

   cod_cliente  cod_produto  qtd_produto  valor_unitario  valor_total_compra
0            1       1011.0            3            5.99               17.97
1            2       1032.0            4            9.99               39.96
2            3       1049.0            2            5.99                 NaN
3            4       1021.0            4            3.99               15.96
4            5       1001.0            4           22.00               88.00

In [16]:
compras.to_sql('stg_compras', con=conn, schema='dbmysql')

2990